name: Release

on:
  push:
    tags:
      - "v*.*.*"          # v0.1.0, v0.1.0-alpha.1, v1.0.0, etc.

# ⚠️ Important : donner les droits d'écriture sur le contenu (releases, tags, etc.)
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
